body {
    background-color: rgb(255, 230, 210);
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 0% 10% 0 10%
}

.nav-bar {
    display: flex;
    background-color: rgb(175, 120, 75);
    margin: 10px 0 20px 0;
    padding: 5px 0 5px 0;
}

.tab {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.tab:hover {
    color: rgba(255,255,255,.5);
}

#forecast-page {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    column-gap: 20px;
}

.form {
    padding: 20px;
    display: flex;
    width: 400px;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.45);
}

.section-header {
    font-style: italic;
}

.field {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.field-header {
    font-weight: bold;
}

.field-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 5px;
}

.field-helper {
    font-style: italic;
    color: grey;
}

.field-pickers {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.mantine-Select-item:nth {
    font-size: 0px;
}

.result {
    width: 100%;
    height: 100%;
    padding-top: 50px;
}